/* =============
    cart
============= */

#cart{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". cart .";
    padding-bottom: 80px;

    @include lg{

        padding-bottom: 200px;


    }
   

    background-image:linear-gradient(180deg, #E1CABA -4.15%, #CBA086 24.83%, #91472D 100%);


    >div{

        grid-area: cart;
        display: flex;
        flex-direction: column;
        
        

        @include md{

            flex-direction: row;
            align-content: center;
            justify-content: center;
            
           

            
        }

        gap: 20px

 

        

        }

        #cart-card{

            height: fit-content;
        img{
            width: 100%;
            padding: 8px;
        }

        .edit{
        
            text-decoration: underline;
            font-size: 12px;
            font-family: 'Noto Sans';
            font-weight: 300;
            color: var(--sky10);
            text-justify: end;
            margin-top: 16px;
        
            }
        
        
        div{
        
            display: flex;
        
            justify-content: space-between;
        
        
        
        }
        
         .sub{
         border-bottom: 2px solid var(--sky10);    
        
        }
        
        }
        
        #payment{
        
                
        
            #cart-order-summary{
                display: none;
                @include md{
                    display: block;
                    margin-bottom: 16px;
                    
        
                   
                }
            }
        
            .sub{
                border-bottom: 2px solid var(--sky10);    
               
               }
        
        }

        
    
}

#related-checkout{
    background-color: var(--cherry80);
    padding-top: 18px;
    display: flex;
    flex-direction: column;

    svg{
        line-height: 0;
        margin-bottom: 10px;
        background-color: transparent;
        fill: var(--cherry80);
 
       
    }
}



