/* =============
    details
============= */

svg{

    margin-top: -60px;
    fill: var(--cantelope100);
    line-height: 0;
    margin-bottom: -10px;
    display: block;

    @include md{

        margin-top: -120px;
    }

    @include lg{

        margin-top: -140px;
    }

}

#details{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:   
    ". details .";
    background-color: var(--cantelope100);
    padding-top: 0px;
    //margin-top: -60px;



    >div{

        grid-area: details;


         ul{
            padding: 0px 24px;

            @include md{
                margin: 0px 100px;
                
            }
           

            @include lg{

                margin: 0px 180px;

                display: grid;
                grid-template-columns: repeat(6,1fr);
                justify-content: center;
                gap: 10px;
                row-gap: 10px;
                grid-template-areas:
                 ". i1 i1 i2 i2 ."
                 "i3 i3 i4 i4 i5 i5";


                #i1{
                    grid-area: i1;
                }
                #i2{
                    grid-area: i2;
                }
                #i3{
                    grid-area: i3;
                }
                #i4{
                    grid-area: i4;
                }
                #i5{
                    grid-area: i5;
                }

            }


         li{
            

            background-color: var(--cherry90);
            width: 100%;
            height: 132px;
                

            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-content: center;

                
                p{
                    margin: auto; 
                    text-align: center;
                    line-height: 22px;    
                              
                }


                
            }
        }

    }
   
}