/* =============
    info-graphic
============= */

#info-graphic{
      background-color: var(--cherry60);
      padding-top: 50px;
      line-height: 0;

      @include md{
          padding-top: 80px;
      }

      @include lg{
          padding-top: 100px;
      }


div{
    display: flex;
    justify-content: center;
    align-content: center;
    
    
  
    margin-top: -30px;
    padding: 60px 24px;
    
    img{
        width: 100%;
        max-width: 1170px;
        line-height: 0;
        display: block;
    }
}
}