/* =============
    parts
============= */

#parts{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". parts .";
    padding-top: 32px;
    background-color: var(--cantelope100);
    padding-bottom: 120px;


    >div{

        background-color: aqua;
        grid-area: parts;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;


       
        }

    #blade-container{
        width: 100%;
        height: 100%;
        max-width: 1000px;
        

        
       
        #blade{
            
                        
            background-color: var(--cherry90);
            gap: 20px;

            display: flex;
            flex-direction: column;

            




            @include lg{

                width: 100%;
                height: 100%;
               
                display: grid; 
                grid-template-columns: 50% auto;   
             }

            #blade-text{
                display: flex;
                flex-direction: column;
                padding: 20px;

               
            }
            
           

            #bimg-container{
                background-color: blueviolet;
                padding: 20px;
                display: flex;


                #blade-img{


                    
                    width: 100%;
                    height: 100%;
                    //height: 400px;
                   
                    align-self: center;
                    justify-self: center;

                    background-image: url(../Images/product-details/blade.png);
                    background-size: cover;
                    



                }   

            }
             
        }
    }
    #handle-container{
        width: 100%;
        height: 100%;
        max-width: 1000px;
       
       

        #handle{

            
            background-color: var(--cherry90);
            //padding: 20px;
            //gap: 20px;
            @include lg{

                width: 100%;
                height: 100%;
               
                display: grid; 
                grid-template-columns: 50% auto;   
                #handle-text{
                    display: flex;
                    flex-direction: column;
                }
                
             }
           

            #himg-container{
                display: flex;
                align-content: center;
                justify-content: center;
                height: 100%;

                #handle-img{
                    width: 100%;
    
                }   

            }
             
        }
    }


}