/* =============
    reviews
============= */
#related{

    
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". related .";
    padding-bottom: 60px;
    

   



    #related-container{

        grid-area: related;
        background-color: var(--cantelope100);
        padding: 20px;
        border-radius: 16px;


        h2{
            padding-bottom: 20px;
        }



        ul{

            display: grid;
            grid-template-columns: 50% auto;
            gap: 20px;

            @include lg{

                display: flex;
            }
           

            li{
                padding: 20px;

                //padding: 20px;
                background-color: var(--white);
                border-radius: 16px;
                text-align: center;
                display: flex;
                flex-direction: column;
  
                

                div{

                    img{
                        width: 100%;
                        
                    }
                }



                aside{
                    margin-top: auto;
                   

                    
                   

                    h3{
                        font-family: 'Noto Sans';
                        color: var(--sky10);

                    }
                    p{

                    }

                    button{
                        align-self: center;
                        padding: 8px 20px;
                        border: none;
                        background-color: var(--sky60);
                        border-radius: 6px;

                        a{

                            color: var(--white);


                        }
                    }



                }
                

                

                
            }
        }

    }
}
