/* =============
    reviews
============= */



#reviews{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". reviews .";
    padding-top: 100px;
   

    @include lg{

        padding-top:120px;
    }
    
   
   

    #review-container{
            display: flex;
            flex-direction: column;
            justify-self: center;
            border-radius: 16px;
            background-color: var(--cantelope100);
            max-width: 800px;
            margin-bottom: 60px;


        grid-area: reviews;

        #review-head{
            border-bottom: 1px solid var(--sky10);
            margin: 20px;

            h2{
                display: flex;
                align-content: center;
                 justify-content: center;

                 @include lg{
                    align-self: center;
                    
                 }

               
            }
            
            #rating{
                display: flex;
                align-content: center;
                justify-content: center;
                //gap: 20px;

                h3{
                    padding: 0 20px;
                    color: var(--sky10);
                    font-family: 'Noto Sans';
                    font-weight: 300;


                }

                #left{
                    border-right: 2px solid var(--sky10);
                   
                }


            }

            #stars{
                display: flex;
                align-content: center;
                 justify-content: center;
                 gap: 4px;

                 @include lg{
                   margin-left: auto;
                 }

            }

            @include lg{
                display: flex;
            }
        }

      #review-container-2{

        

        .disabled{
            opacity: .5;

            color: var(--sky10);

        }
        

        #review{

            align-self: center;

            background-color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 16px;
            align-content: center;
            
            padding: 20px;
            margin: 20px;
            gap: 10px;
           


            @include md{
                flex-direction: row;
                gap: 40px;
            }

            #profile{
                display: flex;
                justify-content: center;
                gap: 20px;
                // padding: 20px 0px;

                @include md{
                    flex-direction: column;
                    gap: 0;
                    
                }

                

                .profile-img{

                    display: flex;
                    align-content: baseline;
                   
                    img{
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        background-size: cover;
                      

    
                    }
                }


                #profile-img-1{

                   width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        background-image: url(../Images/reviews/rich.webp);
                        background-size: cover;
                        background-position: center left;
                   
                }

                #profile-img-2{

                    width: 80px;
                         height: 80px;
                         border-radius: 50%;
                         width: 80px;
                         height: 80px;
                         background-image: url(../Images/reviews/rob.jpeg);
                         background-size: cover;
                         background-position: center right;
                    
                 }

                 #profile-img-3{

                    width: 80px;
                         height: 80px;
                         border-radius: 50%;
                         width: 80px;
                         height: 80px;
                         background-image: url(../Images/reviews/kirk.jpeg);
                         background-size: cover;
                         background-position: center right;
                    
                 }

                .info{

               gap: 0;
               p{
                line-height: 8px;
                font-size: 14px;
                opacity: .85;

                
               }

               #name{
                font-size: 16px;
                font-weight: 600;
                opacity: 100;
                


               }

                }
            }

            #entry{

                display: flex;
                flex-direction: column;

               
                max-width: 200px;
                //align-content: top;

                gap: 0;

                h2{
                    font-size: 20px;
                    //font-family: "Noto Sans";
                    
                   
                }

                p{

                   


                }

                #stars-2{

                    line-height: 0;
                    margin: -8px 0;

                    
                }


            }

        }

        #review-nav{

            display: flex;
            align-self: center;
            gap: 20px;
            padding-bottom: 20px;
            justify-content: center;

            li{
                a{
                    
                    color: var(--sky10);
                    
                    font-family: 'Noto Sans';
                }

                
            }

           
        }
      }

    }
}