/* =============
    tool-care
============= */


#info-graphic{
    background-color: var(--cherry60);
    padding-top: 50px;
    line-height: 0;
    padding: 16px;

    @include lg{
        padding-top: 60px;
    }





div{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    
img{

    width: 100%;


}
}
}

#tool-care{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". tool-care .";
    background-color: var(--cherry60);
    line-height: 0;
    padding-bottom: 80px;
    

    >div{
       

    
        grid-area: tool-care;
        background-color: var(--cantelope100);
        border-radius: 10px;
        
        
        
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 0px;



        
        

        #care-card{
            display: flex;
            flex-direction: column;
            margin-bottom: 60px;

            h1{

                padding: 20px 0px;
            }

            #sharpening{
                margin-bottom: 32px;
            }
            #properuse{
                margin-bottom: 32px;
            }

          


        }

        @include lg{
            margin: 0px 180px;
            #care-card{
                
                
                    #sharpening{
                        display: grid;
                        grid-template-columns: 50% auto;
                        margin-bottom: 60px;
                        gap: 24px;
                        align-items: center;
                        
                    }
                    #properuse{
                        display: grid;
                        grid-template-columns: 50% auto;
                        grid-template-areas: "p2 p1";
                        align-items: center;
                        gap: 24px;
    
                        #p1{
                            grid-area: p1;
                        }
                        #p2{
                            grid-area: p2;
                        }


        }

       
                }


                
            }
        }





    }

    #tc-curve-bottom{
        margin-top: 50px;
        margin-bottom: -40px;

        @include md{
            margin-top: 80px;
            margin-bottom: -100px;
        }

        @include lg{
            margin-top: 100px;
        }
    }
