/* =============
    Base
============= */

.dropshaddow{

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

ul{
    padding: 0;
    margin: 0;

    li{

        list-style: none;
        
    }
}



.parts{

    width: 382px;
    height: 382px;
}

.text-center{

    text-align: center;
    margin: auto;
    vertical-align: middle;
}


.button{

    
    padding: 8px 60px;
    border-radius: 16px;
    border: none;

    justify-content: center;

    color: white;
    background-color:var(--sky60);
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;

    @include lg{

        padding: 16px 100px;
        font-size: 24px;


    }
    
}

.tc-button{

    background-color: transparent;
    border: none;
    color: var(--sky60);
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: underline;

}

.largeimages{

    width: 100%;
    
    @include lg{

        max-width: 471px;;
    }
}

.parts-img{

    width: 100%;
    max-width: 400px;
    max-height: 400px;




}


h1{

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--sky10);
}

h2{

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: var(--sky10);

}


p{
    font-size: 16px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--sky10);
}

